# Lemon Squeezy
NEXT_PUBLIC_LEMON_SQUEEZY_STORE_ID=
NEXT_PUBLIC_LEMON_SQUEEZY_PRODUCT_ID=
LEMON_SQUEEZY_WEBHOOK_SECRET=

# App + Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-a-long-random-string

# Prisma
DATABASE_URL="file:./prisma/dev.db"
